<table class="table table-hover">

    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}">
            </a>
        </td>
        <td style="word-wrap: break-word">
            {% set user_link %}
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a><b>:</b>
            {% endset %}
            <br>

            {{ _('%(username)s said %(when)s', username=user_link, when=moment(post.timestamp).fromNow()) }}

            <p>{{ _('said:') }} {{ moment(post.timestamp).fromNow() }}</p>
{#                <p>Says:</p>#}
            <br>
            <p>{{ post.body }}</p>

            {% if post.language and post.language !=g.locale %}
            <br><br>
{#                <span id="translation{{ post.id  }}">#}
{#            <a href="#">{{ _('Translate') }}</a>#}
{#                </span>#}
                <span id="translation{{ post.id }}">
                    <a href="javascript:translate('#post{{ post.id }}', '#translation{{ post.id }}', '{{ post.language }}', '{{ g.locale }}');">{{ _('Translate') }}</a>
                </span>
            {% endif %}
        </td>
    </tr>
</table>